* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#box {
  width: 50rem;
  margin-right: 20rem;
}

.hide {
  visibility: hidden;
}

img {
  width: 350px;
  height: 300px;
  border-radius: 20px;
}

.img-container {
  max-width: 300px;
  margin: 10px;
}

.logo-svg {
  max-width: 150px;
  width: 70%;
  height: auto;
}
